--swiftversion 6.2
--exclude Pods,Derived,LeetCodeCLI/.build,.build,Dependencies,**/*.xcodeproj,**/*.xcworkspace

# format options

--indent 2
--selfrequired
--importgrouping alpha
--emptybraces "linebreak"
--disable acronyms
--enable blankLineAfterImports
--enable blankLinesAroundMark
--enable blockComments
--enable doccomments
--enable isEmpty
--enable markTypes
--enable sortSwitchCases
--enable wrapEnumCases
--enable wrapSwitchCases

--doccomments "preserve"

--disable wrapMultilineStatementBraces
