--swiftversion 5.9

# format options

--indent 2
--selfrequired
--importgrouping alpha
--emptybraces "linebreak"
--enable acronyms
--acronyms "URL, ID, UUID"
--enable blankLineAfterImports
--enable blankLinesAroundMark
--enable blockComments
--enable doccomments
--enable isEmpty
--enable markTypes
--enable sortSwitchCases
--enable wrapEnumCases
--enable wrapSwitchCases

--doccomments "preserve"

--disable wrapMultilineStatementBraces
